[Unit]
Description=Script from Dan-Guide

[Service]
Type=oneshot
RemainAfterExit=false
ExecStart=/opt/scripts/reboot_1.sh

[Install]
WantedBy=default.target

